.projects {
  padding-top: 155px;
  padding-left: 161px;
  padding-right: 161px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 1181px) {
  .projects {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 585px) {
  .projects {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .projects {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  .projects {
    padding-left: 24px;
    padding-right: 0;
    padding-top: 140px;
  }
}

.projects-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  color: #ffffff;
}

@media screen and (max-width: 1124px) {
  .projects-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 583px) {
  .projects-title {
    font-size: 24px;
    line-height: 28px;
    margin: 10.6% 0 6% 0;
  }
}

.projects-subtitle {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #5d5d63;
}

@media screen and (max-width: 600px) {
  .projects-subtitle {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 18px;
  }
}

.projects-info {
  margin-top: -35px;

  max-width: 706px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1124px) {
  .projects-info {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation-title {
  opacity: 0;
  max-width: 440px;
  transform: translate3d(-150%, 0, 0);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.navigation-subtitle {
  max-width: 440px;
  transform: translate3d(-500%, 0, 0);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.navigation-lead {
  width: 100%;
  transform: translate3d(-150%, 0, 0);
  transition: transform 1s ease-in-out;
  will-change: transform;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.projects-all__buttons-navigation {
  transform: translate3d(-150%, 0, 0);
  transition: transform 1s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.projects-all__buttons-navigation.visible {
  transform: translate3d(0, 0, 0);
}

.navigation-lead.visible {
  transform: translate3d(0, 0, 0);
}

.navigation-subtitle.visible {
  transform: translate3d(0, 0, 0);
}

.navigation-title.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.projects-all {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 41.2vw;
}

@media screen and (max-width: 360px) {
  .projects-all {
    height: 173px;
  }
}

.projects-slider {
  width: 99%;
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  min-height: 359px;
}

@media screen and (max-width: 360px) {
  .projects-slider {
    width: 312px;
    padding: 0;
  }
}

.projects-slider:hover {
  cursor: pointer;
}

.projects-image__item {
  width: 100.6%;
  object-fit: cover;
}

@media screen and (max-width: 360px) {
  .projects-image__item {
    height: 173px;
    background-size: cover;
  }
}

.projects-image {
  align-self: end;
  overflow: hidden;
}

.projects-image:hover {
  animation: slideSkew 1s forwards;
  animation-delay: 10ms;
}

.projects-image__frame {
  width: 100%;
}

.projects-image__frame:hover {
  cursor: pointer;
  animation: slideSkewImage 1.2s forwards;
  animation-delay: 30ms;
}

@keyframes slideSkew {
  0% {
    transform: skew(0deg, 0deg);
  }

  50% {
    transform: skew(0deg, -2deg);
  }

  100% {
    transform: skew(0deg, -2deg);
  }
}

@keyframes slideSkewImage {
  0% {
    transform: skew(0deg, 0deg) scale(1.1);
  }

  50% {
    transform: skew(0deg, 2deg) scale(1.3);
  }

  100% {
    transform: skew(0deg, 2deg) scale(1.3);
  }
}

.projects-slider_width {
  max-width: 100%;
}

.projects-slider_width:hover {
  transform: skew(-10deg);
  cursor: pointer;
}

.projects-slider_width:nth-child(2) {
  margin-top: 100px;
}

.projects-slider_width:nth-child(3) {
  margin-top: 100px;
  margin-bottom: 129px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

@media screen and (max-width: 360px) {
  .projects-container {
    margin-top: 41px;
  }
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.project-name__info {
  margin: 16px 0 0 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5d5d63;
  max-width: 633px;
}
@media screen and (max-width: 1099px) {
  .project-name__info_mobile {
    display: none;
  }
}

.project-name_align {
  width: 100%;
}

.project-name__title {
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 987px) {
  .project-name__title {
    font-size: 20px;
    line-height: 23px;
  }
}

.project-name__date {
  margin: 0;
  margin-left: 16px;
  align-self: flex-start;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5d5d63;
}

@media screen and (max-width: 360px) {
  .project-name__date {
    font-size: 14px;
    line-height: 16px;
  }
}

.projects-all__buttons {
  margin-top: -130px;
  margin-right: -10px;
  align-self: end;
  margin-left: auto;
  display: flex;
  max-width: 126px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

@media screen and (max-width: 1110px) {
  .projects-all__buttons_display {
    display: none;
  }
}

@media screen and (max-width: 877px) {
  .projects-slider_height {
    width: 312px !important;
    height: 171px;
  }
}

.projects-all__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 150px;
  width: 4vw;
  overflow: hidden;
}

.projects-all__buttons-container:nth-child(1) {
  margin-right: -9px;
  padding-left: 5px;
}

.projects-all__buttons-left {
  background-image: url(../../images/arrowLeft.png);
}

@media screen and (max-width: 1420px) {
  .projects-all__buttons-left {
    background-image: url(../../images/arrowLeftMobile.png);
  }
}

.projects-all__buttons-left:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(10);
}

.projects-all__buttons-right {
  background-image: url(../../images/arrowRight.png);
  filter: invert(1);
  filter: brightness(0.4);
}

@media screen and (max-width: 1420px) {
  .projects-all__buttons-right {
    background-image: url(../../images/arrowRightMobile.png);
    filter: invert(1);
    filter: brightness(0.4);
  }
}

.data-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: all 0.3s linear;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.projects-all__buttons-right:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(10);
}

.projects-all__buttons-right:focus {
  filter: brightness(10);
}

.projects-all__buttons-left:focus {
  filter: brightness(10);
}

.projects-all__buttons-item_hidden {
  visibility: hidden;
}

.projects-all__buttons-item:hover {
  cursor: pointer;
}

.button-container {
  margin-top: -9.6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (max-width: 1405px) {
  .button-container {
    margin-top: -7.6vw;
  }
}

@media screen and (max-width: 1143px) {
  .button-container {
    margin-top: -3.6vw;
  }
}

@media screen and (max-width: 784px) {
  .button-container {
    margin-top: 1.6vw;
  }
}

@media screen and (max-width: 716px) {
  .button-container {
    margin-top: 6.6vw;
  }
}

@media screen and (max-width: 649px) {
  .button-container {
    margin-top: 8.6vw;
  }
}

@media screen and (max-width: 600px) {
  .button-container {
    margin-top: 12.6vw;
  }
}

@media screen and (max-width: 509px) {
  .button-container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 360px) {
  .button-container {
    margin-top: 189px;
  }
}

.button-container:hover {
  cursor: pointer;
}

.button-container__blue {
  align-self: center;
  margin-left: 300px;
  width: 300px;
  height: 300px;
  background-image: url(../../images/blue.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.6s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 1201px) {
  .button-container__blue {
    background-image: url(../../images/blue-mobile.png);
    width: 235px;
    height: 80px;
    margin-left: 50%;
  }
}

@media screen and (max-width: 360px) {
  .button-container__blue {
    margin-left: 45%;
  }
}

.button-container__item {
  position: fixed;
  width: 185px;
  height: 185px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../images/blue.png);
  background-repeat: no-repeat;
  transition: top 0.4s ease-out, left 0.4s ease-out;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100002;
  cursor: pointer;
}

.button-container__blue_transparent {
  background-color: transparent;
}

@keyframes View {
  0% {
    transition: 0.6s ease-out;
  }

  100% {
    transition: all 0.6s ease-out;
  }
}
