.cursor-container {
  position: relative;
  width: 100%;
}

.cursor-block {
  display: block;
  position: fixed;
  width: 140px;
  height: 140px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 1;
  background-image: url("../images/button.png");
  background-size: cover;
 
}

.cursors-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.cursor-hidden {
   visibility: hidden; 
}
