.marquee-inner__item99 {
  position: absolute;
  display: inline-block;
  transition: all 0.2s ease-out;
  top: 770px;
  background-image: url("../images/bitrix.png");
  min-height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}

.marquee-inner__item2 {
  animation: marquee3 15s linear infinite;
  animation-delay: 3s;
}

.marquee-inner__item3 {
  animation: marquee3 15s linear infinite;
  animation-delay: 6s;
}

.marquee-inner__item4 {
  animation: marquee3 15s linear infinite;
  animation-delay: 9s;
}

.marquee-inner__item5 {
  animation: marquee3 15s linear infinite;
  animation-delay: 12s;
}

.marquee-inner__item6 {
  animation: marquee3 15s linear infinite;
  animation-delay: 15s;
}

@media screen and (max-width: 1368px) {
  .marquee-inner__item2 {
    animation: marquee4 10s linear infinite;
    animation-delay: 2s;
  }

  .marquee-inner__item3 {
    animation: marquee4 10s linear infinite;
    animation-delay: 4s;
  }

  .marquee-inner__item4 {
    animation: marquee4 10s linear infinite;
    animation-delay: 6s;
  }

  .marquee-inner__item5 {
    animation: marquee4 10s linear infinite;
    animation-delay: 8s;
  }

  .marquee-inner__item6 {
    animation: marquee4 10s linear infinite;
    animation-delay: 10s;
  }
}

@media screen and (max-width: 900px) {
  .marquee-inner__item2 {
    animation: marquee5 15s linear infinite;
    animation-delay: 3s;
  }

  .marquee-inner__item3 {
    animation: marquee5 15s linear infinite;
    animation-delay: 6s;
  }

  .marquee-inner__item4 {
    animation: marquee5 15s linear infinite;
    animation-delay: 9s;
  }

  .marquee-inner__item5 {
    animation: marquee5 15s linear infinite;
    animation-delay: 12s;
  }

  .marquee-inner__item6 {
    animation: marquee5 15s linear infinite;
    animation-delay: 15s;
  }
}

@media screen and (max-width: 565px) {
  .marquee-inner__item2 {
    animation: marquee6 15s linear infinite;
    animation-delay: 3s;
  }

  .marquee-inner__item3 {
    animation: marquee6 15s linear infinite;
    animation-delay: 6s;
  }

  .marquee-inner__item4 {
    animation: marquee6 15s linear infinite;
    animation-delay: 9s;
  }

  .marquee-inner__item5 {
    animation: marquee6 15s linear infinite;
    animation-delay: 12s;
  }

  .marquee-inner__item6 {
    animation: marquee6 15s linear infinite;
    animation-delay: 15s;
  }
}

.marquee2 {
  margin-top: 150px;
  margin-right: 40px;
  width: 520px;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
  position: relative;
  z-index: 101;
  position: relative;
  margin-left: auto;
}

@media screen and (max-width: 1368px) {
  .marquee2 {
    margin-top: 70px;
    margin-right: 40px;
    width: 520px;
    min-height: 550px;
  }
}

@media screen and (max-width: 900px) {
  .marquee2 {
    position: absolute;
    top: 400px;
    margin-right: 0;
    width: 990px;
    min-height: 130px;
  }
}

@media screen and (max-width: 565px) {
  .marquee2 {
    top: 520px;
    min-height: 130px;
  }
}

.marquee2-container {
  margin-top: 60px;
  position: absolute;
  min-height: 758px;
  width: 90%;

  overflow: hidden;
}

@media screen and (max-width: 1368px) {
  .marquee2-container {
    min-height: 458px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  .marquee2-container {
    margin-top: 40px;
    min-height: 50px;
    width: 80%;
  }
}

.marquee-inner__span2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-evenly;
  height: 800px;
}

@keyframes marquee3 {
  0% {
    font-size: 5px;
    width: 120px;
    top: 780px;
    left: 130px;
    right: 0;
  }

  25% {
    font-size: 10px;
    top: 600px;
    left: 75px;
    right: 0;
    width: 220px;
  }
  50% {
    font-size: 20px;
    top: 379px;
    left: 40px;
    right: 0;
    width: 304px;
  }
  75% {
    font-size: 10px;
    top: 125px;
    left: 75px;
    right: 0;
    width: 220px;
  }

  100% {
    font-size: 5px;
    top: -40px;
    left: 120px;
    right: 0;
    width: 130px;
  }
}

@keyframes marquee4 {
  0% {
    font-size: 5px;
    width: 20px;
    top: 470px;
    left: 110px;
    right: 0;
  }

  25% {
    font-size: 10px;
    top: 400px;
    left: 75px;
    right: 0;
    width: 120px;
  }
  50% {
    font-size: 20px;
    top: 230px;
    left: 50px;
    right: 0;
    width: 204px;
  }
  75% {
    font-size: 10px;
    top: 100px;
    left: 75px;
    right: 0;
    width: 120px;
  }

  100% {
    font-size: 5px;
    top: -10px;
    left: 110px;
    right: 0;
    width: 30px;
  }
}

@keyframes marquee5 {
  0% {
    top: 20px;
    width: 20px;
    left: 900px;
  }

  25% {
    top: 12px;
    left: 630px;
    width: 120px;
  }
  50% {
    top: 8px;
    left: 315px;
    width: 204px;
  }
  75% {
    top: 12px;
    left: 0;
    width: 120px;
  }

  100% {
    top: 20px;
    left: -270px;
    width: 30px;
  }
}

@keyframes marquee6 {
  0% {
    top: 20px;
    width: 20px;
    left: 900px;
  }

  25% {
    top: 12px;
    left: 600px;
    width: 114px;
  }
  50% {
    top: 8px;
    left: 335px;
    width: 138px;
  }
  75% {
    top: 12px;
    left: 100px;
    width: 114px;
  }

  100% {
    top: 20px;
    left: -270px;
    width: 30px;
  }
}
