.menu {
    width: 542px;
    margin-right: calc(311px - 10%);
    padding-top: 3px;
  }
  
  .menu_margin {
    margin: 85px 0 0 16px;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  
  @media screen and (max-width: 1562px) {
    .menu {
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 1181px) {
    .menu {
      display: none;
    }
  }

   .menu_margin {
      display: block;
    }
  
    @media screen and (max-width: 1320px) {
      .menu_margin {
        width: 100%;
      }
    }


  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .menu-container_column {
    flex-direction: column;
    min-height: 344px;
  }
  
  @media screen and (max-width: 1320px) {
    .menu-container_column {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      width: 90%;
      min-height: 150px;
      justify-content: space-between;
      margin-top: 120px;
    }
  }
  
  .menu-container__item {
    list-style-type: none;
  }

 
  
  .menu-container__link {
    text-decoration: none;
    color: rgba(93, 93, 99, 1);
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 140%;
    text-transform: uppercase;
  }
  
  .menu-container__link:focus,
  .menu-container__link:hover {
    color: #fff;
  }
  
  .menu-container__link_size {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    color: #5d5d63;
  }
  
  @media screen and (max-width: 1320px) {
    .menu-container__link_size {
      font-family: Rubik;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
    margin-right: 10px;
    }
  }

