.app {
  background: rgba(21, 21, 25, 1);
}
.page {
  background: inherit;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.header-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(21, 21, 25, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 80px;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #151519;
  transition: top 0.3s;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .header {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1181px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 585px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}

/*menu*/
.menu {
  /* margin: 0 auto; */
  width: 542px;
  margin-right: calc(311px - 10%);
  padding-top: 3px;
}

.menu_margin {
  /* width: 204px; */

  margin: 120px 0 0 66px;
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@media screen and (max-width: 1562px) {
  .menu {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1181px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1181px) {
  .menu_margin {
    display: block;
  }
}

@media screen and (max-width: 1176px) {
  .menu_margin {
    margin: 0;
  }
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-container_column {
  flex-direction: column;
  min-height: 344px;
}

@media screen and (max-width: 1176px) {
  .menu-container_column {
    margin-bottom: 40px;
  }
}

.menu-container__item {
  list-style-type: none;
}

.menu-container__link {
  text-decoration: none;
  color: rgba(93, 93, 99, 1);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 140%;
  text-transform: uppercase;
}

.menu-container__link:focus,
.menu-container__link:hover {
  color: #fff;
}

.menu-container__link_size {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #5d5d63;
}

@media screen and (max-width: 1497px) {
  .menu-container__link_size {
    font-size: 30px;
  }
}

/*offer*/
.offer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 93%; */
  /* align-items: center; */
  padding-left: 161px;
  padding-right: 161px;
}

@media screen and (max-width: 1497px) {
  .offer {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1181px) {
  .offer {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 585px) {
  .offer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .offer {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}

.offer-container {
  width: 50.1%;
  /* min-height: 758px;  */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-top: 334px;
  /* margin-bottom: 218px; */
  margin-bottom: 13.7%;
}

.offer-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 140%;
  color: white;
}

@media screen and (max-width: 1368px) {
  .offer-title {
    font-size: 20px;
  }
}

.offer-subtitle {
  color: #008ae8;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 140%;
  border-left: #008ae8 solid 1px;
  padding: 5px 0 0 24px;
}

@media screen and (max-width: 1368px) {
  .offer-subtitle {
    font-size: 16px;
  }
}

.offer-message {
  color: white;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin: 15px 0 42px 0;
}

@media screen and (max-width: 1368px) {
  .offer-message {
    font-size: 15px;
  }
}

.offer-button {
  max-width: 501px;
  min-height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #008ae8;
  border-radius: 0px 45px 45px 45px;
  padding-left: 44px;
  padding-right: 50px;

  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1368px) {
  .offer-button {
    max-width: 250px;
    min-height: 36px;
    border-radius: 0px 45px 45px 45px;
    padding-left: 22px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 808px) {
  .offer-button {
    max-width: 250px;
    min-height: 20px;
    border-radius: 0px 45px 45px 45px;
    padding-left: 11px;
    padding-right: 12px;
  }
}

.offer-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 691px) {
  .offer-button {
    padding-left: 24px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .offer-button {
    padding-left: 4px;
    padding-right: 10px;
  }
}

.offer-button__title {
  color: white;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 1368px) {
  .offer-button__title {
    font-size: 15px;
  }
}

@media screen and (max-width: 808px) {
  .offer-button__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 557px) {
  .offer-button__title {
    display: none;
  }
}

@media screen and (min-width: 558px) {
  .offer-button__title-min {
    display: none;
  }
}

@media screen and (max-width: 557px) {
  .offer-button__title-min {
    color: white;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0;
  }
}

.cursor {
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #008ae8;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #008ae8;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #008ae8;
  }
}
@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #008ae8;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #008ae8;
  }
}

/*карусель*/

/*кнопки*/

.arrow {
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.carousel {
  /* position: absolute; */
  position: relative;
  height: 758px; /*700*/
  width: 26.3%;
  /* margin: auto; */
  /* left: 500px;
  right: 0;
  top: 0;
  bottom: 0;
  */
  top: 210px;
  left: 260px;
  overflow: hidden;

  /* border: rgb(7, 253, 48) solid 1px; */
  /* border: red solid 1px; */
}

@media screen and (max-width: 1599px) {
  .carousel {
    /* height: 758px;  */
    height: 420px;
    width: 13.3%;
    /* top: 240px; */
    /* left: 110px; */
  }
}

@media screen and (max-width: 1497px) {
  .carousel {
    /* height: 758px;  */
    height: 420px;
    width: 20.3%;
    /* top: 240px;
    left: 160px; */
  }
}

@media screen and (max-width: 1062px) {
  .carousel {
    /* height: 758px;  */
    height: 420px;
    width: 35.3%;
    top: 240px;
    left: 160px;
  }
}

@media screen and (max-width: 808px) {
  .carousel {
    left: 60px;
  }
}

@media screen and (max-width: 577px) {
  .carousel {
    height: 420px;
    width: 35.3%;
    left: 20px;
  }
}

@media screen and (max-width: 387px) {
  .carousel {
    left: 10px;
  }
}

.item {
  /* border: red solid 1px; */
  display: flex;
  /* text-align: center; */
  align-items: center;
  color: white;
  /* font-size: 40px; */
  position: absolute;
  transition: height 2s linear, width 2s linear, top 2s linear,
    margin-left 2s linear;
}

.level-3 {
  height: 50px;
  width: 60px;
  top: 785px;
  margin-left: 160px;
}

.level-2 {
  height: 64px;
  width: 177px;
  top: 733px;
  margin-left: 104px;
}

.level-1 {
  height: 91px;
  width: 251px;
  top: 71%; /*500*/
  margin-left: 70px;
}

.level0 {
  height: 111px;
  width: 304px;
  top: 44%; /*180*/
  margin-left: 42px;
}

.level1 {
  height: 91px;
  width: 251px;
  margin-left: 67px;
  top: 19%; /*180*/
}

.level2 {
  height: 64px;
  width: 177px;
  margin-left: 102px;
  top: -32px; /*50*/
}

.level3 {
  height: 50px;
  width: 60px;
  margin-left: 160px;
  top: -90px; /*-20*/
}

.item__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1599px) {
  .level-3 {
    position: absolute;
    height: 25px;
    width: 30px;
    top: 470.5px;
    margin-left: 80px;
  }

  .level-2 {
    position: absolute;

    height: 32px;
    width: 88.5px;
    top: 400px;
    margin-left: 52px;
  }

  .level-1 {
    position: absolute;

    height: 45.5px;
    width: 125.5px;
    top: 300px; /*500*/
    margin-left: 35px;
  }

  .level0 {
    position: absolute;

    height: 55.5px;
    width: 152px;
    top: 45%; /*180*/
    margin-left: 21px;
  }

  .level1 {
    position: absolute;

    height: 45.5px;
    width: 125.5px;
    margin-left: 33.5px;
    top: 19%; /*180*/
  }

  .level2 {
    position: absolute;

    height: 32px;
    width: 88.5px;
    margin-left: 51px;
    top: -17px; /*50*/
  }

  .level3 {
    position: absolute;

    height: 25px;
    width: 30px;
    margin-left: 80px;
    top: -45px; /*-20*/
  }

  .item__image {
    width: 90%;
    object-fit: cover;
  }
}

@media screen and (max-width: 577px) {
  .level-3 {
    margin-left: 50px;

    width: 15px;
  }

  .level-2 {
    position: absolute;

    height: 32px;
    width: 44.5px;
    top: 400px;
    margin-left: 44px;
  }

  .level-1 {
    position: absolute;

    height: 45.5px;
    width: 60.5px;
    top: 300px; /*500*/
    margin-left: 35px;
  }

  .level0 {
    position: absolute;

    height: 55.5px;
    width: 75.5px;
    top: 45%; /*180*/
    margin-left: 30px;
  }

  .level1 {
    position: absolute;

    height: 45.5px;
    width: 61.5px;
    margin-left: 35px;
    top: 19%; /*180*/
  }

  .level2 {
    position: absolute;

    height: 32px;
    width: 44.5px;
    margin-left: 44px;
    top: -17px; /*50*/
  }

  .level3 {
    position: absolute;

    height: 25px;
    width: 15px;

    margin-left: 50px;
    top: -45px; /*-20*/
  }

  .item__image {
    width: 90%;
    object-fit: cover;
  }
}

/*2 блок видео*/

.video {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  /* min-height: 763px; */

  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  overflow: hidden;
}

.container:hover {
  cursor: pointer;
}

.video__container {
  width: 100%;
  height: auto;
}

/*cursor*/

.cursor-container {
  position: relative;
  /* margin-top: 64px; */
  width: 100%;
  /* min-height: 763px; */
  margin-top: 3.65vw;
  /* border: crimson solid 1px; */
}

.cursor-block {
  display: block;
  position: fixed;
  /* height: 10px;
  width: 10px;
  border-radius: 50%; */
  /* width: 140px;
  height: 140px; */
  width: 7.3vw;
  height: 7.3vw;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;

  z-index: 100002;
  background-image: url("./images/button.png");
  background-size: cover;
}

.cursors-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.cursor-hidden {
  visibility: hidden;
}

/*3 блок проекты*/

.projects {
  margin-top: 120px;
  padding-left: 161px;
  padding-right: 161px;
  min-height: 904px;
  /* height: 40%; */
}

@media screen and (max-width: 1181px) {
  .projects {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 990px) {
  .projects {
    min-height: 800px;
  }
}

@media screen and (max-width: 665px) {
  .projects {
    min-height: 600px;
  }
}

@media screen and (max-width: 665px) {
  .projects {
    min-height: 550px;
  }
}

@media screen and (max-width: 585px) {
  .projects {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .projects {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.projects-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  color: #ffffff;
}

@media screen and (max-width: 1124px) {
  .projects-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 583px) {
  .projects-title {
    font-size: 26px;
  }
}

/* .projects-title2 {
  display: none;
} */

.projects-subtitle {
  margin-top: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #5d5d63;
}

@media screen and (max-width: 600px) {
  .projects-subtitle {
    margin-bottom: 50px;
  }
}

/* @media screen and (max-width: 1124px) {
  .projects-subtitle {
margin-left: 10px;
    
  }
} */

.projects-subtitle2 {
  display: none;
}

.projects-info {
  max-width: 706px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1124px) {
  .projects-info {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation-menu {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* border: orange solid 2px;  */
  opacity: 0;
  max-width: 440px;
  transform: translate3d(-150%, 0, 0);
  transition: transform 0.7s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.navigation-menu2 {
  /* position: fixed;
  top: 0;
  left: 0; */

  /* border: orange solid 2px;  */
  max-width: 440px;
  transform: translate3d(-500%, 0, 0);
  transition: transform 0.9s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.navigation-menu3 {
  /* position: fixed;
  top: 0;
  left: 0; */

  /* border: orange solid 2px;  */
  width: 100%;
  transform: translate3d(-150%, 0, 0);
  transition: transform 2s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.navigation-menu3.visible {
  transform: translate3d(0, 0, 0);
}

.navigation-menu2.visible {
  transform: translate3d(0, 0, 0);
}

.navigation-menu.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.projects-all {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* overflow: hidden; */
}

.projects-slider {
  max-width: 790px;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}

.projects-slider_width {
  max-width: 100%;

  /* transition: all 0.2s ease-out; */
}

.projects-slider_width:hover {
  /* transform: scale(1.1); */
  /* transform: scale(0.7); */
  transform: skew(-10deg);
  cursor: pointer;
}

.projects-slider_width:nth-child(2) {
  margin-top: 100px;
}

.projects-slider_width:nth-child(3) {
  margin-top: 100px;
  margin-bottom: 129px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  margin-top: 47px;
}
.project-name {
  display: flex;
  flex-direction: row;
  /* max-width: 500px; */
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 704px) {
  .project-name {
    display: none;
  }
}

.project-name__info {
  margin: 16px 0 0 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5d5d63;
  max-width: 633px;
}

.project-name_align {
  width: 100%;
}

.project-name__title {
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 987px) {
  .project-name__title {
    font-size: 12px;
  }
}

.project-name__date {
  margin: 0;
  margin-left: 16px;
  align-self: flex-start;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5d5d63;
}
/*
.project-name__date_align {
  align-self: flex-end;
} */

.projects-all__buttons {
  top: -156px;
  left: 93.5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* max-width: 111px; */
  justify-content: space-between;
  z-index: 99;
}

@media screen and (max-width: 766px) {
  .projects-all__buttons {
    top: -100px;
    left: 91%;
  }
}

@media screen and (max-width: 600px) {
  .projects-all__buttons {
    top: -84px;
    left: 0;
  }
}

.projects-all__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border:red solid 1px; */
  /* width: 100px; */
  /* height: 150px;
  width: 60px; */
  min-height: 150px;
  width: 4vw;
  /* margin-left: 5px; */
}

.projects-all__buttons-item1 {
  /* margin-left: auto; */
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  /* border: gold solid 1px; */
  background-image: url(./images/arrowLeft.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
}

.projects-all__buttons-item1:hover {
  cursor: pointer;

  /* transform: rotate(180deg); */
  animation: bounce 2s forwards ease;
}

.projects-all__buttons-item2 {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  /* border: gold solid 1px; */
  background-image: url(./images/arrowRight.png);
  filter: invert(1);
  filter: brightness(0.4);
  /* filter: hue-rotate(-360deg); */

  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
}

.projects-all__buttons-item2:focus {
  filter: brightness(10);
}

.projects-all__buttons-item1:focus {
  /* background-image: url(./images/leftActive.png); */
  filter: brightness(10);
}

.projects-all__buttons-item2:hover {
  cursor: pointer;
  /* forwards */

  transform: rotate(180deg);

  animation: bounce 2s forwards ease;
  /* animation-delay: 1s; */
}

@keyframes bounce {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transform: scale(1.1);
  }
}

/* .projects-all__buttons-item1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.projects-all__buttons-item2:hover {
  transform: scale(1.1);
  cursor: pointer;
} */

.projects-all__buttons-item_hidden {
  visibility: hidden;
}

.eee {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(./images/arrowRight.png);
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100002;
  /* border: crimson solid 1px; */
}

.eee:hover {
  cursor: pointer;
}

.eee2 {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(./images/arrowLeft.png);
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100002;
  /* border: crimson solid 1px; */
}

.eee2:hover {
  cursor: pointer;
}

.projects-all__buttons-item:hover {
  cursor: pointer;
}

.button-container {
  width: 100%;
  /* min-height: 250px; */
  height: 23.2vh;
  margin-top: 45px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* transition: all 0.3s ease-out; */
  /* border: gold solid 1px; */
}

@media screen and (max-width: 1760px) {
  .button-container {
    height: 13.2vh;
  }
}

@media screen and (max-width: 785px) {
  .button-container {
    height: 6vh;
  }
}

.button-container:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
}

.button-container__blue {
  margin: 0 auto;
  /* width: 185px;
  height: 185px; */
  width: 10vw;
  height: 10vw;
  border: none;
  outline: none;
  background-color: transparent;
  /* border: gold solid 1px;  */
  background-image: url(./images/blue.png);
  background-size: contain;
}

.button-container__item {
  width: 185px;
  height: 185px;
  border: none;
  outline: none;
  background-color: transparent;

  background-image: url(./images/blue.png);

  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100002;
}

.button-container__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*бегущая строка*/

.marquee-inner__item {
  /* width: 50px;
  height: 50px;
  background: #999;
  border-radius: 50px; */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  color: #ffffff;

  display: inline-block;
  margin: 0 24.7px;

  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1727px) {
  .marquee-inner__item {
    font-size: 36px;
  }
}

@media screen and (max-width: 1252px) {
  .marquee-inner__item {
    font-size: 30px;
  }
}

@media screen and (max-width: 1088px) {
  .marquee-inner__item {
    font-size: 18px;
  }
}

@media screen and (max-width: 613px) {
  .marquee-inner__item {
    margin: 0 5.7px;
  }
}

@media screen and (max-width: 445px) {
  .marquee-inner__item {
    font-size: 12px;
    margin: 0 5.7px;
  }
}

.marquee {
  /* height: 200px; */
  height: 10.5vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  z-index: 101;
}

/* @media screen and (max-width: 1066px) {

  .marquee {
    height: 120px;
    
   
  }
} */

.marquee-inner {
  display: flex;
  flex-direction: row;
  width: 200%;
  /* margin: 70px 0; */
  margin: 3.65vw 0 0 0;
  position: absolute;
  animation: marquee 24s linear infinite;
}

@media screen and (max-width: 1088px) {
  .marquee-inner {
    animation: marquee 10s linear infinite;
  }
}

@media screen and (max-width: 651px) {
  .marquee-inner {
    margin: -10px 0 0 0;
  }
}

.marquee-inner__span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-evenly;
  width: 200%;
  /* margin-right: 120px; */
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/*CustomCursor*/

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1);
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
}

/*команда*/

.team {
  padding-left: 161px;
  padding-right: 161px;
  /* min-height: 1080px; */
}

@media screen and (min-width: 1920px) {
  .team {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1181px) {
  .team {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 585px) {
  .team {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .team {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.team-container {
  position: relative;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background: rgba(21, 21, 25, 1);
}

.team-container__item {
  padding: 38px;
  display: flex;
  max-width: 789px;
  min-height: 184px;
  flex-direction: row;

  border: 2px solid #111111;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgba(21, 21, 25, 1);
}

.team-container__item:nth-child(1) {
  margin-right: 20px;
}
@media screen and (max-width: 1325px) {
  .team-container__item {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1325px) {
  .team-container__item:nth-child(1) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1325px) {
  .team-container__item:nth-child(2) {
    margin-right: 0;
  }
}

.team-container__item:nth-child(2) {
  margin-right: 20px;
}

@media screen and (max-width: 623px) {
  .team-container__item {
    padding: 15px;
  }
}

.team-container__info {
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 623px) {
  .team-container__info {
    margin-left: 26px;
  }
}

.team-container__title {
  margin: 0 0 8px 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.team-container__subtitle {
  margin: 0;
  font-family: "Rubik";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #5d5d63;
}

.team-container__participant {
  /* width: 108px;
  height: 108px; */
}

/*карусель swiper*/

/* swiper-container {
  width: 100%;
  height: 100%;
  overflow: none !important;
} */

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* overflow: hidden; */
  overflow-x: hidden !important;
  /* margin-top: -90px !important; */
  list-style: none;
  padding: 0;
  z-index: 2;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-mod {
  width: 100%;
  /* height: 700px; */
}

.swiper-overflow {
  background-color: inherit;
  overflow-y: none !important;
}

/*заявка*/

.application {
  /* margin-top: 205px; */
  display: flex;
  flex-direction: column;

  /* justify-content: space-around;  */
  /* width: 100%; */
  /* padding-top: 233px; */
  padding-top: 12.1vw;
  padding-left: 161px;
  padding-right: 161px;
  /* border: darkmagenta solid 1px; */
  /* min-height: 572px; */
}

@media screen and (max-width: 585px) {
  .application {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .application {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}
.application-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  /* min-height: 75px; */
  margin: 0;
  align-items: center;
  /* border-bottom: #008AE8 solid 1px; */
}

@media screen and (max-width: 1181px) {
  .application-info {
    flex-direction: column;
  }
}

.application-info__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 82px;
  width: 30%;
  /* box-shadow: inset 0px -1px 0px #282848; */
  border-bottom: #282848 solid 1px;
  align-items: center;
  padding-left: 20px;
}

@media screen and (max-width: 1181px) {
  .application-info__item {
    width: 100%;
    padding-left: 0;
  }
}

.application-info__content {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #d3d3d9;
  margin: 0;
  width: 100%;
}
.application-info__content_mod {
  color: #5d5d63;
  /* margin-bottom: 0; */
}

.application-info_height {
  margin-top: 34px;
}

.application-info__item_box-shadow {
  /* box-shadow: inset 0px -1px 0px #282848; */
  border-bottom: #282848 solid 1px;
}

.application-info__item_height {
  width: 48%;
  margin-top: 60px;
  /* min-height: 128px; */
  /* box-shadow: inset 0px -1px 0px #282848; */
  border-bottom: #282848 solid 1px;
  text-align: start;
}

@media screen and (max-width: 1181px) {
  .application-info__item_height {
    margin-top: 20px;
  }
}

.application-info__input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;

  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #d3d3d9;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
}

.application-button {
  margin-top: 66px;
}

@media screen and (max-width: 1181px) {
  .application-button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 557px) {
  .application-button {
    justify-content: space-evenly;
    margin-top: 50px;
  }
}

/*footer*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-top: 136px; */
  padding-top: 7.1vw;
  padding-left: 160px;
  padding-right: 160px;
  min-height: 140px;
  gap: 15px;
}

@media screen and (min-width: 1920px) {
  .footer {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1181px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 993px) {
  .footer {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 585px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer-button {
  height: 20px;
  width: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 0;
  box-shadow: none;
  align-items: center;
  border: none;
  background: none;
  outline: none;
}

.footer__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #5d5d63;
  margin: 0;
}

.footer__text_margin {
  margin: 0 15px;
}

/*modal*/

.ReactModal__Overlay--after-open {
  background-color: rgba(21, 21, 25, 1) !important;
  z-index: 100000;

  animation: slideinY 2s;
  transition-duration: 1s;
  transition-property: all;
}

.ReactModal__Overlay--after-open2 {
  animation: slideinY2 2s !important;
}

@keyframes slideinY {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideinY2 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.form__title {
  text-align: center;
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-top: 45px;
  text-transform: uppercase;
  color: #ffffff;
  animation-name: Appearance;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 657px;
  padding-bottom: 24px;
  /* min-height: 359px; */
}

.form__image {
  width: 155px;
  height: 155px;
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form__subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #5d5d63;
  animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.modal__close {
  top: -75%;
  /* left: 159%; */
  right: -65.5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 0;
  box-shadow: none;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

@media screen and (max-width: 1641px) {
  .modal__close {
    right: -35.5%;
  }
}

@media screen and (max-width: 1249px) {
  .modal__close {
    right: -15.5%;
  }
}

@media screen and (max-width: 945px) {
  .modal__close {
    right: 0;
  }
}

@media screen and (max-width: 753px) {
  .modal__close {
    right: 10%;
  }
}

@media screen and (max-width: 666px) {
  .modal__close {
    right: 15%;
    top: -55%;
  }
}

@media screen and (max-width: 399px) {
  .modal__close {
    right: 20%;
    top: -35%;
  }
}

.modal__close_top {
  top: -20%;
  left: 100%;
}

@media screen and (max-width: 860px) {
  .modal__close_top {
    top: -10%;
    left: 90%;
  }
}

@media screen and (max-width: 590px) {
  .modal__close_top {
    top: -5%;
    left: 90%;
  }
}

.modal__close:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.modal__image {
  height: 32px;
  width: 32px;
}

/*заставка*/

.screen {
  position: fixed;
  background-color: #008ae8;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vmax;
  height: 100vmax;

  margin-right: auto;
  margin-left: auto;

  animation: pulse 3s ease-in-out forwards;
  animation-delay: 4.5s;
  z-index: 11000;
}

.screen-load__item {
  align-self: center;
  /* margin: 100px 0 0 600px; */
  overflow: hidden;

  width: 20%;
  /* height: 200px; */

  height: 10.45vw;
}

@media screen and (max-width: 858px) {
  .screen-load__item {
    align-self: flex-start;
    margin-left: 10%;
  }
}

@media screen and (max-width: 320px) {
  .screen-load__item {
    align-self: flex-start;
    margin-left: 8%;
  }
}

.screen-load__item2 {
  align-self: center;
  margin-left: 35%;
  overflow: hidden;
  width: 30%;
  height: 10.45vw;
}

@media screen and (max-width: 858px) {
  .screen-load__item2 {
    align-self: flex-start;
    margin-left: 20%;
  }
}

@media screen and (max-width: 320px) {
  .screen-load__item2 {
    align-self: flex-start;
    margin-left: 18%;
  }
}

.screen-load__item3 {
  align-self: center;
  /* margin: 30px 0 0 100px; */
  overflow: hidden;

  width: 60%;
  height: 10.45vw;
}

@media screen and (max-width: 858px) {
  .screen-load__item3 {
    align-self: flex-start;
    margin-left: 10%;
  }
}

@media screen and (max-width: 320px) {
  .screen-load__item3 {
    align-self: flex-start;
    margin-left: 8%;
  }
}

.screen-saver.visible {
  transform: translate3d(150%, 0, 0);
}

.screen-column {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  border: red solid 2px;
}

.text-one {
  width: 100%;
  transform: translate3d(0, 80%, 0);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  z-index: 99;
}

.text-one2 {
  z-index: 99;
}

.text-one2.visible2 {
  animation: slidein 1s;
}

.screen-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Ubuntu";
  color: #151515;
  /* font-size: 12rem; */
  font-size: 10vw;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  animation: widthit 2s forwards;
  animation-delay: 4s;
}

.text-one2.visible3 {
  animation: slidein2 3s forwards;
}

.text-one2.visible33 {
  /* opacity: 0; */

  animation: slidein3 3s forwards;
}

.text-one2.visible44 {
  /* opacity: 0; */
  animation: slidein4 3s forwards;
  animation-delay: 1s;
}

.text-one2.visible55 {
  /* opacity: 0; */
  animation: slidein5 3s forwards;
  animation-delay: 1s;
}

.text-one2.visible4 {
  opacity: 0;
  animation: slidein 3s forwards;
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    width: 250vmax;
    height: 250vmax;
    left: -50%;
    border-radius: 50%;
    transform: scale(0.85);
  }
  50% {
    width: 150vmax;
    height: 150vmax;
    left: -50%;
    border-radius: 50%;
    transform: scale(0);
  }
  100% {
    border-radius: 50%;
    transform: scale(0);
    width: 100vmax;
    height: 100vmax;
    left: -50%;
  }
}

@media screen and (max-width: 717px) {
  @keyframes pulse {
    0% {
      width: 250vmax;
      height: 250vmax;
      left: -100%;
      border-radius: 50%;
      transform: scale(0.85);
    }
    50% {
      width: 150vmax;
      height: 150vmax;
      left: -100%;
      border-radius: 50%;
      transform: scale(0);
    }
    100% {
      border-radius: 50%;
      transform: scale(0);
      width: 100vmax;
      height: 100vmax;
      left: -100%;
    }
  }
}

@media screen and (max-width: 444px) {
  @keyframes pulse {
    0% {
      width: 250vmax;
      height: 250vmax;
      left: -150%;
      border-radius: 50%;
      transform: scale(0.85);
    }
    50% {
      width: 150vmax;
      height: 150vmax;
      left: -150%;
      border-radius: 50%;
      transform: scale(0);
    }
    100% {
      border-radius: 50%;
      transform: scale(0);
      width: 100vmax;
      height: 100vmax;
      left: -150%;
    }
  }
}

@media screen and (max-width: 320px) {
  @keyframes pulse {
    0% {
      width: 250vmax;
      height: 250vmax;
      left: -220%;
      border-radius: 50%;
      transform: scale(0.85);
    }
    50% {
      width: 150vmax;
      height: 150vmax;
      left: -220%;
      border-radius: 50%;
      transform: scale(0);
    }
    100% {
      border-radius: 50%;
      transform: scale(0);
      width: 100vmax;
      height: 100vmax;
      left: -220%;
    }
  }
}

@keyframes widthit {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200%, 0, 0);
  }
}

/* @keyframes widthit {
  0% {
    width: 100%;
   opacity: 1;
    
  }

  50% {
    width: 0;
opacity: 0;
    
  }
  100% {
    width: -100%;
    opacity: 0;
    
  }
}  */

@keyframes slidein {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein2 {
  0% {
    transform: translateY(200%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200%);
  }
}

@keyframes slidein3 {
  0% {
    transform: translateY(250%);
    /* opacity: 0; */
  }

  50% {
    transform: translateY(0%);
    /* opacity: 1; */
  }

  100% {
    transform: translateY(-250%);
    /* opacity: 1; */
  }
}

@keyframes slidein4 {
  0% {
    transform: translateY(300%);
    /* opacity: 0; */
  }

  50% {
    transform: translateY(-100%);
    /* opacity: 1; */
  }

  100% {
    transform: translateY(-250%);
    /* opacity: 1; */
  }
}

@keyframes slidein5 {
  0% {
    transform: translateY(200%);
    /* opacity: 0; */
  }

  50% {
    transform: translateY(0%);
    /* opacity: 1; */
  }

  100% {
    transform: translateY(-200%);
    /* opacity: 1; */
  }
}

/*все проекты*/
.all-projects {
  /* display: flex; */
  flex-direction: column;
  margin-top: 98px;
  padding-left: 161px;
  padding-right: 161px;
  padding-bottom: 115px;
  min-height: 1080px;
  /* border: orange solid 2px; */

  display: none;
}

.all-projects_visible {
  display: flex;
  flex-direction: column;
  /* margin-top: 120px; */
  padding-left: 161px;
  padding-right: 161px;
  padding-bottom: 115px;
  /* min-height: 1080px; */
  animation: opacityin 2s;
}

.all-projects__slider {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin-bottom: 9.4%;
}

.all-projects__slider:hover {
  transform: skew(-10deg);
  cursor: pointer;
}

.all-title {
  margin: 10.6% 0;
}

@media screen and (max-width: 816px) {
  .all-info {
    align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .all-projects_visible {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1181px) {
  .all-projects_visible {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 585px) {
  .all-projects_visible {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 412px) {
  .all-projects_visible {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.all-projects__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: red solid 2px; */
}

@media screen and (max-width: 816px) {
  .all-projects__container {
    flex-direction: column;
    align-items: center;
  }
}

.all-projects__button {
  margin-top: 40px;
  height: 66px;
  width: 385px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 0;
  box-shadow: none;
  align-items: center;
  border: none;
  background: #008ae8;
  border-radius: 45px;

  outline: none;
  padding: 20px 48px 20px 127px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1562px) {
  .all-projects__button {
    padding: 20px 48px 20px 48px;
  }
}

@media screen and (max-width: 862px) {
  .all-projects__button {
    padding: 20px;
    margin-bottom: 9.4%;
  }
}

@media screen and (max-width: 773px) {
  .all-projects__button {
    padding: 20px 48px 20px 127px;
    margin-top: 0;
  }
}

@media screen and (max-width: 544px) {
  .all-projects__button {
    width: 66.8%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 9.4%;
  }
}

.all-projects__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.all-projects__item {
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.all-projects__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66.8%;
}

@media screen and (max-width: 1562px) {
  .all-projects__block {
    margin-left: 20px;
  }
}

@media screen and (min-width: 862px) {
  .all-projects__block {
    width: 50.8%;
  }
}

.all-projects__image {
  object-fit: contain;
  transition: all 0.2s ease-out;
}

.all-projects__image:hover {
  transform: scale(0.7);
  cursor: pointer;
}

.all-projects__load {
  margin: 0;
  align-self: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5d5d63;
}

/*поиск*/

.form-search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  /* width: 100%;
  height: 359px;  */
}

.form-logo {
  position: absolute;
  top: -20%;
  left: 5%;
  width: 184px;
  height: 29px;
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@media screen and (max-width: 860px) {
  .form-logo {
    top: -10%;
    left: 5%;
  }
}

@media screen and (max-width: 590px) {
  .form-logo {
    top: -5%;
    left: 5%;
  }
}

.form-container {
  position: relative;
  padding-bottom: 40px;
  display: flex;

  /* justify-content: space-between; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container__tags {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  flex-wrap: wrap;
  animation-name: Appearance;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.form-container__tag {
  padding: 8px 16px;
  background: #28282d;
  border-radius: 45px;
  margin-right: 24px;
  margin-top: 17px;
}

.form-container__tag-content {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
}

.form-container__title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #5d5d63;
  margin: -25px 0 6px 0;
}

.form-container__input {
  border-bottom: #2d2d41 solid 1px;
  margin-bottom: 24px;
  z-index: 2;
}

.form-container__subtitle {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  color: #5d5d63;
  animation-name: Appearance;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.form-container__type {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  color: #5d5d63;
}

.typing {
  z-index: 1;
  align-self: start;
  margin-bottom: -33px;
}
